
.container{
  max-width: none;
  height:100vh !important;
  width:56.25vw !important;
  position: absolute !important;
  left:50%;
  transform: translateX(-50%);
}
.borderW{
  border-style: solid;
  border-width: 4px;
  border-color: black;
}
.borderWL{
  border-style: solid;
  border-width: 4px;
  border-color: black;
  border-right: none;
}
.borderWTB{
  border-style: solid;
  border-width: 4px;
  border-color: black;
  border-left: none;
  border-right: none;
}
.borderWR{
  border-style: solid;
  border-width: 4px;
  border-color: black;
  border-left: none;
}

.col{
  padding:0%;
}
#parentR{
  height: inherit;
}

#parentR .borderW{
  height:100%;
}
.centerW{
  text-align: center;
}

#parentR #left{
  border-right:none;
}

#parentR #right{
  border-left: none;
}


.row #test{
  height:20%;
}
#colTest{
  height:100%;
}

#profCol #profPic{
  height:100px;
  width:100px;
  border-radius: 50%;
  margin-top: 10%;
}
.blockF{
  display:block;
}
.nameText{
  padding-top: 3%;
  font-size: 26px;
}
.subMenuText{
  padding-top:3%;
  font-size: 24px;
}
.listText{
  font-size:18px;
}
.columnF{
  height: 100%;
  width:33.33%;
}
.colBac{
  background-color: #FFFFFF;
}

.grayBac{
  background-color: rgba(211,211,211,125);
}
.row.gutter#picR > [class*="grayBac"]{
  padding:5%;
}
.row.gutter#menuR > [class*="grayBac"]{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 0%;
}
#test > [class*="grayBac"]{
  padding-left: 0%;
  padding-right: 1.6667%;
  padding-bottom: 1.6667%;
  padding-top: 1.6667%;
}
#content > [class*="grayBac"]{
  padding-left: 0%;
  padding-right: 1.6667%;
  padding-bottom: 1.6667%;
  padding-top: 0%;
}
.row #picR{
  height:20%;
}
.row #menuR{
  height: 80%;
}
.contentDiv{
  height:100%;
}
.contentScr{
  padding: 5%;
  background-color: rgba(255, 0, 0, 0.5);
}
#content{
  height:80%;
}
.menuDiv{
  height:100%;
}
.profDiv{
  height: 100%;
}
.descCol{
  background-color: rgba(0, 0, 255, 0.5);
  height: 200px;
}
.projectList{
  list-style-type: none;
  text-align: left;
  padding-top: 20%;
}
.drawLineMenu{
  width: 95%;
  border-style: solid;
  border-color: rgba(211,211,211,125);
  border-width: 1px;
}
.lineSep{
  padding-top: 1%;
  align-content: center;
  padding-left: 5%;
}
#testDiv{
  height:100%;
}
.screenShot{
  height:200px;
  width:200px;
  border-radius: 5%;
}
#screenR{
  height:100%;
  width:100%;
  padding: 5%;
}
.screenCol_1{
  height:100%;
  padding-right: 5%;
}
.screenCol_2{
  height:100%;
  padding-left: 5%;
}
.floatContainer{
  width:100%;
}
a{
  color:black;
}
@media screen and (max-width:1919px){
    .container{
      left:50vw;
      transform: translateX(-50%);
      width: 1080px !important;

    }
}
@media screen and (max-width:1200px){
    .container{
      left:60px;
      width: 1080px !important;
      transform: translateX(0);
    }
}
@media screen and (max-height:1079px){
    .container{
      height: 1080px !important;
    }
}
